$rick-morty-theme: (
  primary: (
    main: #fccf6c,
    darker: #c69d3d,
    lighter: #ffff9c
  ),
  secondary: (
    main: #6c9afc,
    darker: #2f6cc8,
    lighter: #a2caff
  ),
  text: (
    primary: (
      main: rgba(black, 0.87),
      darker: rgba(black, 0.87),
      lighter: rgba(black, 0.87)
    ),
    secondary: (
      main: rgba(black, 0.87),
      darker: white,
      lighter: rgba(black, 0.87)
    )
  ),
  background: #fccf6c,
  foreground: #ccc,
  warning: #d85a17,
  error: #b00020
);
